@tailwind base;
@tailwind components;
@tailwind utilities;

#S05{ 
   transition: all 0.5s;
}

#BgHero{
   background-image: url('../src/assets/01.png');
};
/* #BgEngilish{
   background-image: url('../src/assets/English_Learning.png');
};
#BgEngilish{
   background-image: url('../src/assets/01.png');
};
#BgEngilish{
   background-image: url('../src/assets/01.png');
}; */