@tailwind base;
@tailwind components;
@tailwind utilities;

/* Barcha o‘zgarishlar uchun transition */
#S05 { 
   transition: all 0.5s;
}

/* Hero background */
#BgHero {
   /* public/assets ichiga joylang */
   background-image: url('./src/assets/01.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

/* English Learning background */
#BgEngilish {
   /* public/assets ichiga joylang */
   background-image: url('./public/English_Learning.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

/* Agar boshqa background kerak bo‘lsa */
#BgOnline {
   background-image: url('./public/Online_Learning.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

#BgTogether {
   background-image: url('./public/Learning_Together.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
